body{
  background-color: rgb(151, 151, 231);
}
h1,h3{
  text-align: center;
  color:rgb(52, 52, 168);
}
.puppyData{
  width:30%;
  color: antiquewhite;
  margin: auto;
  border-radius: 15px;
  border: 3px dotted antiquewhite;
  padding: 1em 1em 1em 8em;
 background-color: rgba(57, 103, 150,0.2);
}
.pupList{
  width:30%;
  color: antiquewhite;
  margin: auto;
  border-radius: 15px;
  margin-top: 10px;
  padding: 1em 1em 1em 8em;
  background-color: rgba(57, 103, 150,0.5);
}
p.puppy:hover{
  cursor: pointer;
 }
.puppy{
  text-align: center;
 width:90%;
 margin: 2px 50px 2px -30px;
}

